NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_APP_NAME=Lucky Marketplace
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_rtsWNkrDp1dlT7
NEXT_PUBLIC_GOOGLE_CLIENT_ID=120500227071-2eq0adaf2n7c7co1e8c0rg0mgn7iidnd.apps.googleusercontent.com
